body {
  background: url('images/halloween-quiz.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  background-color: #000000;
  font-size: 16px; 
  line-height: 1.4;
}

.main {
  padding: 1em 0 15em 0; /*---When quiz questions display bottom padding to 3em */
}

#header > h1 {
  text-align: center;
  font-family: 'Griffy', cursive;
  color: #F5A623;
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 2em;
}

.button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
}

button:focus {
  outline:0;
}


/*---------Quiz Container Initial------------*/

#quiz-container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 20em;
  border-radius: 5px;
  padding: 2em 2em 2em 2em;
  text-align: center;
  margin-left: 13em;
}

#quiz-container > h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.8em;
  margin-top: 0;
}

#start-btn {
  background-color: #F89C04;
  color: #ffffff;
} 

/*------------Quiz Container Quiz Questions ----*/

#submit-btn {
  background-color: #ffffff;
  color: #F89C04;
  padding: 0.5em 3em;
  margin-top: 1.5em;
  border-radius: 5px;
  display: none;
}

#quiz-container h3 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 300;
  text-align: left;
  width: 13em;
  margin-right: 0;
  margin-left: 1em;
  margin-bottom: 1.5em;
  margin-top: 0;
  line-height: 1.5;
  display: none;
}

#quiz-container > h3 > #question-color {
  color: #F89C04;
}

#quiz-container > ul > li > button {
  width: 15em;
  margin-left: -1.4em;
  padding: 0.5em 3em;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  background-color: #F89C04;
  color: #fff;
}

#quiz-container > ul > li > button:last-child {
  margin-bottom: 0;
}

#quiz-container > ul > li {
  margin-bottom: 1em;
}

#quiz-container > ul {
  list-style: none;
}

.yellow {
  background-color: #C9BD1E !important;
}


/*-----Quiz start header section---------*/

#header > h2 {
  text-align: center;
  font-family: 'Griffy', cursive;
  color: #F5A623;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0.5em;
  display: none;
}

#header > .progress-icons {
  list-style: none;
  width: 32em;
  margin: 0 auto 3em auto;
  padding-left: 0;
  display: none;
}

#header > .progress-icons > li {
  display: inline-block;
  margin-right: 2em;
}

#header > .progress-icons > li:last-child {
  margin-right: 0;
}

/*----------------Answer feedback------------------*/

#feedback {
  z-index: 3;
  width: 45em;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  margin: 0 auto;
  border-radius: 5px; 
  padding: 3em 3em;  
  font-family: 'Raleway', sans-serif; 
  text-align: center;   
}

#feedback > h1 {
  text-align: center;
  color: #7ED321;
  letter-spacing: 5px;
  font-size: 4em;
  margin-bottom: 0em;
}

#feedback > h1 > #wrong {
  color: red;
  letter-spacing: 3px;
}

#feedback > h2 {
  color: #fff;
  width: 23em;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5;
}

#feedback > img {
  display: block;
  width: 22em;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #fff;
}

#next-btn {
  background-color: #ffffff;
  color: #F89C04;
  padding: 0.5em 3em;
  margin-top: 2em;
  border-radius: 5px;
}

#retry-btn {
  background-color: #F5A623;
  color: #fff;
  padding: 0.75em 3.25em;
  margin-top: 2em;
  border-radius: 5px;
  border: none;
}

#feedback > #score {
  font-size: 5em;
  margin-top: 0;
}

#feedback > h2 > #congrats {
  font-size: 2em;
  width: 18em;
  line-height: 1.4;
  letter-spacing: 2px;
  margin-top: 2em;
  font-family: 'Griffy', cursive;
  color: #F5A623;
}

#feedback > #score-intro {
  font-size: 2em;
  margin-top: 1em;
  letter-spacing: 1px;
}

#feedback > #congrats-2 {
  margin-top: 2em;
  font-size: 1.5em;
  letter-spacing: 1px;
}


/*--------------------MEDIA QUERIES------------------------*/

@media only screen and (max-width: 865px){
  #feedback {
    width: 85%;
    padding: 5%;  
 }      
}

@media only screen and (max-width: 800px) {
  #quiz-container {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 650px) {
  #header > h1 {
    font-size: 3em;
  }

  #feedback > h2 { 
    width: 100%;
  }
}

@media only screen and (max-width: 530px) {
  .pumpkin-img {
    width: 3em;
  }

  #header > .progress-icons {
    list-style: none;
    width: 65%;
  }

  #header > .progress-icons > li {
    margin-right: 1em;
  }
}

@media only screen and (max-width: 500px) {
  #header > .progress-icons {
    width: 70%;
  }
}

@media only screen and (max-width: 475px) {
  #header > h1 {
    font-size: 2.5em;
    margin-top: 2em;
  }

  #quiz-container > h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.3em;
    margin-top: 0;
  }

  #quiz-container {
    padding: 2em 1em;
  }

  .button {
    padding: 0.25em 1em;
    border-radius: 5px;
    font-size: 1em;
  }

  #header > .progress-icons {
    width: 75%;
  }

  #feedback > h2 {
    font-size: 1.2em;
  }

}

@media only screen and (max-width: 435px) {
  #header > .progress-icons {
    width: 80%;
  }

  #feedback > img {
    width: 95%;
  }
}

@media only screen and (max-width: 410px) {
  #header > .progress-icons {
    width: 85%;
  }
}

@media only screen and (max-width: 385px) {
  #header > .progress-icons {
    width: 90%;
  }
}










