body {
  background: url('images/halloween-quiz.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  background-color: #000000;
  font-size: 16px; 
  line-height: 1.4;
}

.main {
  padding: 1em 0 15em 0; /*---When quiz questions display bottom padding to 3em */
}

#header > h1 {
  text-align: center;
  font-family: 'Griffy', cursive;
  color: #F5A623;
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 2em;
}

.button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
}

button:focus {
  outline:0;
}

input[type = "submit"]:focus {
  outline: 0 !important;
}

/*---------Quiz Container Initial------------*/

#quiz-container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 20em;
  border-radius: 5px;
  padding: 2em 2em 2em 2em;
  text-align: center;
  margin-left: 13em;
}

#quiz-container > h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.8em;
  margin-top: 0;
}

#start-btn {
  background-color: #F89C04;
  color: #ffffff;
} 

/*------------Quiz Container Quiz Questions ----*/

#submit-btn {
  background-color: #ffffff;
  color: #F89C04;
  padding: 0.5em 3em;
  margin-top: 1.5em;
  border-radius: 5px;
  display: none;
}

#quiz-container h3 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 300;
  text-align: left;
  width: 13em;
  margin-right: 0;
  margin-left: 1em;
  margin-bottom: 1.5em;
  margin-top: 0;
  line-height: 1.5;
  display: none;
}

#quiz-container > h3 > #question-color {
  color: #F89C04;
}

#quiz-container > ul > li > button {
  width: 15em;
  margin-left: -1.4em;
  padding: 0.5em 3em;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  background-color: #F89C04;
  color: #fff;
}

#quiz-container > ul > li > button:last-child {
  margin-bottom: 0;
}

#quiz-container > ul > li {
  margin-bottom: 1em;
}

#quiz-container > ul {
  list-style: none;
}

.yellow {
  background-color: #C9BD1E !important;
}


/*-----Quiz start header section---------*/

#header > h2 {
  text-align: center;
  font-family: 'Griffy', cursive;
  color: #F5A623;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0.5em;
  display: none;
}

#header > .progress-icons {
  list-style: none;
  width: 32em;
  margin: 0 auto 3em auto;
  padding-left: 0;
  display: none;
}

#header > .progress-icons > li {
  display: inline-block;
  margin-right: 2em;
}

#header > .progress-icons > li:last-child {
  margin-right: 0;
}

/*----------------Answer feedback------------------*/

#feedback {
  z-index: 3;
  width: 45em;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  margin: 0 auto;
  border-radius: 5px; 
  padding: 3em 3em;  
  font-family: 'Raleway', sans-serif; 
  text-align: center;   
}

#feedback > h1 {
  text-align: center;
  color: #7ED321;
  letter-spacing: 5px;
  font-size: 4em;
  margin-bottom: 0.5em;
}

#feedback > h1 > span {
  color: red;
  letter-spacing: 3px;
}

#feedback > h2 {
  color: #fff;
  text-align: center;
  width: 25em;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5;
}

#feedback > img {
  display: block;
  width: 18em;
  margin: 0 auto;
  border-radius: 5px;
}

#next-btn {
  background-color: #ffffff;
  color: #F89C04;
  padding: 0.5em 3em;
  margin-top: 1.5em;
  border-radius: 5px;
}








